<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
</head>
<body>

<%- include("navbar") %>

<% if (data && data.length > 0) { %>

        <% data.forEach((item)=>{ %>
        <div style="border:1px solid #ccc; padding:10px; margin:10px;" >
            
            <h3><%= item.notes.title %></h3>

            <p><%= item.notes.message %></p>

            <small>
                Posted by: <%= item.username %> <br>
                Date: <%= item.notes.created_at %>
            </small>

        </div>
    <% }) %>

<% } else { %>
    <p>No messages found.</p>
<% } %>

<button> <a href="/write-messages">Add New Message </a></button>
</body>
</html>
